.step-area{

    .step-title{
        font-size: 18px;
        color: #9e9b9b;
        padding: 5px 100px;
    }
    .step-body{
        padding: 5px 100px;
        font-size: 16px;
    }
}
.step-label{
    color:#3c4052;
    font-size: 16px;
}