.step-area{

    .step-title{
        font-size: 1.2rem;
        color: #9e9b9b;
        padding: 10px;
    }
    .step-body{
        padding: 10px;
        font-size: 1.1rem;
    }
}
.step-label{
    color:#3c4052;
    font-size: 1.1rem;
}
.swal-wide{
    width: 700px;
    height: 700px;
}