.bacth{
  .file_uploader_container{
      padding-left: 0;
  }
  .mt-30{
    margin-top: 30px;
  }
  .title{
    margin-top: 30px;
    clear: both;
    display: block;
    float: left;
  }
  .rectangle{
    padding: 4px 4px;
  }
}
.text-centered{
  display: block;
  text-align: center;
}