.dashboard {
  .dashboard-icons {
    .icon-lg {
      width: 32px;
      height: 32px;
      margin: 0 auto;
    }
    width: 90%;
    float: left;
    text-align: center;
    .dashboard-icons-icon {
      display: block;
      text-align: center;
      color: $callburn-gray;
      font-size: 25px;
      margin-top: 15px;
      margin-bottom: 10px;
    }

    .dashboard-icons-counter {
      display: block;
      font-size: 22px;
      padding-top: 7px;
      font-family: HelveticaNeue;
      color: $callburn-gray;
      background-color: $white;
      font-weight: bold;
      text-align: center;
      height: 37px;
    }

    .dashboard-icons-message {

      display: block;
      font-size: 14px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: HelveticaNeue;
      color: $callburn-gray;
    }
    &:hover {
      .dashboard-icons-icon, .dashboard-icons-message {
        color: $white;
      }
      background-color: $callburn-blue;
      color: $white;
      .bordered {
        border-radius: 3px;
        border: 1px solid $callburn-blue;
      }
      .dashboard-icons-counter {
        color: $callburn-blue;
      }
      .icon-evro {
        background-image: url("/assets/callburn/images/images/DashboardWhite/Retained@2x.svg");
      }
      .icon-phonebook {
        background-image: url("/assets/callburn/images/images/DashboardWhite/Phonebook_Icon@2x.svg");
      }
      .icon-caller-id {
        background-image: url("/assets/callburn/images/images/DashboardWhite/CallerID.svg");
      }
      .icon-message-templates {
        background-image: url("/assets/callburn/images/images/DashboardWhite/Templates@2x.svg");
      }
      .icon-message-sent {
        background-image: url("/assets/callburn/images/images/DashboardWhite/Sent_Messages@2x.svg");
      }
      .icon-message-delivered {
        background-image: url("/assets/callburn/images/images/DashboardWhite/Delivered@2x.svg");
      }
      .icon-delivery-rate {
        background-image: url("/assets/callburn/images/images/DashboardWhite/DeliveryRate@2x.svg");
      }
      .icon-live-transfer {
        background-image: url("/assets/callburn/images/images/DashboardWhite/LiveTransfer.svg");
      }
      .icon-callme-back {
        background-image: url("/assets/callburn/images/images/DashboardWhite/CallMeBack.svg");
      }
      .icon-blacklist {
        background-image: url("/assets/callburn/images/images/DashboardWhite/Blacklist@2x.svg");
      }
      .icon-clickToCall {
        background-image: url("/assets/callburn/images/images/DashboardWhite/ClickToCallWhite.svg");
      }
    }

    .icon-evro {
      background-image: url("/assets/callburn/images/images/DashboardBlack/Retained.svg");
    }
    .icon-phonebook {
      background-image: url("/assets/callburn/images/images/DashboardBlack/Phonebook_Icon.svg");
    }
    .icon-caller-id {
      background-image: url("/assets/callburn/images/images/DashboardBlack/CallerID.svg");
    }
    .icon-message-templates {
      background-image: url("/assets/callburn/images/images/DashboardBlack/Templates.svg");
    }
    .icon-message-sent {
      background-image: url("/assets/callburn/images/images/DashboardBlack/Sent_Messages_Icon.svg");
    }
    .icon-message-delivered {
      background-image: url("/assets/callburn/images/images/DashboardBlack/Delivered.svg");
    }
    .icon-delivery-rate {
      background-image: url("/assets/callburn/images/images/DashboardBlack/DeliveryRate.svg");
    }
    .icon-live-transfer {
      background-image: url("/assets/callburn/images/images/DashboardBlack/LiveTransfer.svg");
    }
    .icon-callme-back {
      background-image: url("/assets/callburn/images/images/DashboardBlack/Callmeback.svg");
    }
    .icon-blacklist {
      background-image: url("/assets/callburn/images/images/DashboardBlack/Blacklist.svg");
    }
    .icon-clickToCall {
      background-image: url("/assets/callburn/images/images/DashboardBlack/ClickToCall.svg");
    }
    .bordered {
      border-radius: 3px;
      height: 137px;
    }

  }
  .border-top {
    border-top: 1px solid $callburn-border;
  }
  .mt-40 {
    margin-top: 40px;
  }
}

.tutorial {
  position: absolute;
  background-color: $callburn-blue;
  font-size: 20px;
  padding: 20px;
  right: 0;
  color: $white;
  object-fit: contain;
  font-family: Helvetica-Bold;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: -4px;
  float: left;
  display: block;
  i {
    font-size: 30px;
    float: left;
    display: block;
    margin-top: -4px;
    margin-right: 10px;
  }

}