.vm-overview {
  position: relative;
  tooltip {
    tip {
      min-width: 275px;
      &:before {
        content: "";
        position: absolute;
        left: -20px;
        top: 0;
        width: 20px;
        height: 100%;
      }
    }
  }
  .voice_icon {
    tooltip {
      tip {
        min-width: 150px;
      }
    }
  }
  .over_filter_holder {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .new_select {
      width: 250px;
      .new-multiselect {
        .multiselect-parent {
          button {
            color: #777777;
          }
          ul {
            left: 0;
            min-width: 200px;
            width: fit-content;
            & > li {
              & > a {
                white-space: nowrap !important;
              }
            }
          }
        }
      }
    }
    .filter_item {
      width: 250px;
      margin-top: 2px;
      margin-bottom: 2px;
      &.margin_between {
        margin: 0 10px;
      }
    }
    .campaign_overview_filter {
      ul {
        left: 0;
        min-width: 200px;
        width: fit-content;
        & > li {
          & > span {
            white-space: nowrap !important;
          }
        }
      }
    }
  }
  @media screen and (min-width: 992px) {
    .contDev_item {
      min-width: 135px;
      ul {
        li {
          a {
          }
          &.divider {
            display: none;
          }
        }
      }
      &.add_new {
        float: right;
        width: 200px;
        margin-bottom: 0;
        margin-right: 15px;
        span {
          padding: 0;
          margin-right: 5px;
        }
        &:hover {
          span {
          }
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    .contDev_item {
      background: none;
      border: none;
      span {
        display: none;
      }
      &:hover {
        background: none;
        border: none;
      }
    }
  }
  .table_styled {
    @media screen and (max-width: 768px) {
      width: max-content;
    }
    // min-height: 350px;
    overflow: initial;
    // padding-bottom: 100px;
    table.table {
      thead {
        tr {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-right: 16px;
          th {
            flex: 1;
            &.search {
              flex: 0 0 30px;
            }
            &.campaign_name {
              flex: 0 0 200px;
            }
            &.created_on {
              flex: 0 0 135px;
            }
            &.features {
              flex: 0 0 115px;
            }
            &.updated_at {
              flex: 0 0 100px;
            }
            &.campaign_status {
              flex: 0 0 140px;
            }
            &.interactions {
              flex: 0 0 100px;
            }
            &.delivered {
              flex: 0 0 145px;
            }
          }
        }
      }
      tbody {
        display: block;
        max-height: 500px;
        overflow-y: scroll;
        padding: 0;
        tr {
          height: 100px;
          transition: all 0.3s;
          &:hover {
            background: #eee;
            transition: all 0.3s;
          }
          td {
            &.campaign_status_td {
              min-width: 140px;
            }
            &.features_td {
              min-width: 115px;
              .smsCount {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #3290e6;
                font-weight: bold;
                font-size: 11px;
                position: relative;
                bottom: 5px;
                right: -8px;
              }
            }
            &.interactions_td {
              min-width: 100px;
            }
            &.delivered_td {
              min-width: 145px;
            }
            &.phonenumbers_content {
              & > span {
                word-break: break-all;
                line-height: 15px;
              }
            }
            padding: 15px 8px !important;
            flex: 1;
            span.created_at {
              line-height: 23px;
            }
            &:first-child {
              min-width: 30px;
            }
          }
          .contDev_item.open {
            .dropdown-menu {
              display: flex;
            }
          }
          .dropdown-menu {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100px;
            position: absolute;
            top: 50% !important;
            right: 100% !important;
            left: auto !important;
            margin-right: 3px !important;
            margin-top: -50px !important;
            background: none;
            border: none;
            box-shadow: none;
            padding: 0;
            & > li {
              min-width: 100px;
              width: 100%;
              white-space: nowrap !important;
              background: #fff;
              border-left: 1px solid#ccc;
              border-right: 1px solid#ccc;
              & > a {
                padding: 3px 5px;
                text-decoration: none;
                white-space: nowrap !important;
              }
              &:first-child {
                border-top: 1px solid#ccc;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
              }
              &:last-child {
                border-bottom: 1px solid#ccc;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
              }
            }
            &::before {
              display: none;
            }
            &:after {
              display: none;
            }
          }

          .preview_button {
            font-weight: bold;
            margin-bottom: -10px;
          }
        }
      }
    }
    .table_footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .flex_helper {
        width: 15%;
      }
      // .scroll_down {
      i {
        cursor: pointer;
        font-size: 35px;
        color: #3190e6;
      }
      // }
    }
    .caret {
      margin: 0;
    }
    .overview-hover {
      display: flex;
      align-items: center;
      justify-content: center;
      .sms_holder {
        width: 30px;
      }
      .tooltip-inner {
        max-width: 275px;
      }
      .voice_icon {
      }
      display: flex;
      img {
        min-width: 20px;
        width: 20px;
        height: 20px;
        margin: 0 2px;
        cursor: pointer;
      }
    }
    &.loading {
      margin-bottom: 160px;
    }
  }
}

.overview {
  .filter-down {
  }
  .filter-checkbox {
    .callburn-checkbox-white [type="checkbox"]:not(:checked) + label,
    .callburn-checkbox-white [type="checkbox"]:checked + label {
      padding-top: 0;
    }
    .callburn-checkbox-white {
      display: block;
      float: left;
      margin-right: 15px;
      img {
        width: 20px;
        height: 20px;
        margin-top: 4px;
        padding-right: -11px;
        margin-right: 8px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .table {
    .phone {
      padding-left: 0;
    }
  }
  .empty-table {
    margin-top: 20px;
    span {
      display: block;
      text-align: center;
      margin-bottom: 10px;
      font-size: 16px;
      &.blue {
        font-size: 17px;
      }
    }
  }
}

.campaign-overview-spinner {
  position: absolute;
  top: 240px;
  width: 100%;
  text-align: center;
}
