
.more-menu-section{
    float: right;
    margin-top: -40px;
    button{
        width: 200px;
    }
}
.reciption-table{
    max-height: 350px;
    overflow: auto;
    .group-row{
        &:hover{
            cursor: pointer;
            background-color: rgb(235, 245, 235);
        }
    }
}
.reciption-table-loading-spider-view{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: white;
    position: relative;
    .arrow-down-icon{
      font-size: 3rem;
      color: #3190e6;
      transition: all 0.3s ease;
      animation: arrowAnimation2 1s;
      position: absolute;
      animation-iteration-count: infinite;
      /* Safari 4.0 - 8.0 */
     
      &:hover{
        cursor: pointer;
        transform: scale(1.4);
      }
    }
    
    .group-info-show{
      position: absolute;
      right: 30px;
    }
 }
 @media only screen and (max-width: 768px) {
  .reciption-table-loading-spider-view{
    .group-info-show{
     display: none;
    }
  }
 }
 @keyframes arrowAnimation2 {
    0% {top: 0px;}
    50% {top: 5px;}
    100% {top: 0px;}
  }