.form-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .title{
        color:#3190e6;
    }
    .des{
        color: black;
    }
}
.templates-area{
    margin-top: 20px;
}
.create-group-icon{
    padding: 0px 50px !important;
}
@media only screen and (max-width: 768px) {
    .create-group-icon{
       width: 100% !important;
       margin-bottom: 40px !important;
    }
}
